body {
  background-color: #000000;
}

h1 {
  color: rgb(131, 96, 8);
}

h3 {
  color: #f1f1f1;
}

hr {
  border-style: solid rgb(234, 84, 84);
  border-top-style: solid white;
  border-color: grey;
  border-width: 3px;
  width: 7%;
}

li {
  color: rgb(171, 145, 80);
}
